<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    
</head>
<body>
    <p>
        The Quiz is divided into 3 parts of multiple choice questions covering concepts on:
       <li>HTML</li> 
        <li>CSS</li> 
      	<li>Javascript</li> 
    </p>
    <p>Respond to ALL the questions to the best of your understanding.</p>  
    <p>Research and consultation with peers is allowed.</p>
</body>
</html>